In [11]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data/my_database.db')

df = pd.read_sql_query("SELECT * FROM jobs WHERE DATE(date_loaded) = DATE('now')", conn)

In [12]:
df

,id,title,company,location,date,job_url,job_description,applied,hidden,interview,rejected,date_loaded,address,phone_number,main_products,match_percentage,overall_assessment,recommended_next_steps,matched_skills,skill_gaps
0,1,Data Scientist,DKMRBH Inc,"McLean, VA",2024-12-10,https://www.linkedin.com/jobs/view/4096142669/,DKMRBH Inc. is currently seeking a - \nData Sc...,0,0,0,0,2024-12-10 15:29:33.754232,None,None,None,60,"Moderate alignment with job requirements, with...",['Acquire experience in TensorFlow and PyTorch...,"[{'skill': 'Python', 'criticality': 'High'}, {...","[{'skill': 'TensorFlow and PyTorch', 'critical..."
1,2,Data Scientist,Droisys,"McLean, VA",2024-12-09,https://www.linkedin.com/jobs/view/4095427159/,About Company\nDroisys is an innovation techno...,0,0,0,0,2024-12-10 15:29:33.754232,None,None,None,60,Moderate match with some skill gaps,"['Acquire skills in R, SAS, or MATLAB', 'Devel...","[{'skill': 'Python', 'criticality': 'High'}, {...","[{'skill': 'R, SAS, or MATLAB', 'criticality':..."

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

cursor.fetchall()

[('jobs',), ('sqlite_sequence',), ('filtered_jobs',)]