In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('data/my_database.db')

df = pd.read_sql_query("SELECT * FROM jobs", conn)

In [4]:
df

,id,title,company,location,date,job_url,job_description,applied,hidden,interview,rejected,date_loaded,cover_letter,resume
0,1,AI Engineer (R&D),Harnham,"Austin, TX",2024-12-06,https://www.linkedin.com/jobs/view/4093876294/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
1,2,AI Engineer II,Kraken Digital Asset Exchange,"Canada, NC",2024-12-06,https://www.linkedin.com/jobs/view/4093833107/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
2,3,AI Software Engineer (CMH Health),Milliman,"Brookfield, CT",2024-12-06,https://www.linkedin.com/jobs/view/4074967750/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
3,4,Data Scientist,Lantern,"Richardson, TX",2024-12-06,https://www.linkedin.com/jobs/view/4091044631/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
4,5,Full Stack Developer,Hypergiant,United States,2024-12-06,https://www.linkedin.com/jobs/view/4091786522/,Note: This is a full-time remote role. Must be...,0,0,0,0,2024-12-06 19:56:49.113309,None,None
5,6,Machine Learning Engineer - Media Models,Replicate,United States,2024-12-06,https://www.linkedin.com/jobs/view/4089467925/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
6,7,Principal AI/ML Engineer - Remote,Optum,"Los Angeles, CA",2024-12-06,https://www.linkedin.com/jobs/view/4093188560/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
7,8,Senior ML Engineer,Amber Resourcing,United States,2024-12-06,https://www.linkedin.com/jobs/view/4091844165/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
8,9,Sr Artificial Intelligence Engineer,techolution,United States,2024-12-06,https://www.linkedin.com/jobs/view/4093855192/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None
9,10,"Staff Machine Learning Engineer, NLP",Replicant,United States,2024-12-06,https://www.linkedin.com/jobs/view/4092124698/,Could not find Job Description,0,0,0,0,2024-12-06 19:56:49.113309,None,None

In [ ]:
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")

cursor.fetchall()

[('jobs',), ('sqlite_sequence',), ('filtered_jobs',)]